server:
  port: 8082

spring:
  application:
    name: game-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5433/gamedb}
    username: ${SPRING_DATASOURCE_USERNAME:gameapp}
    password: ${SPRING_DATASOURCE_PASSWORD:gamepass123}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    com.mindgames.gameservice: DEBUG
    org.hibernate.SQL: DEBUG

